@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<img src="~/hh.png" height="550" width="1120"/>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    Exemptions to privacy laws
    There are two types of situations where a health service may use or share your health
    information without your consent. These are:

    <ul type="disc">
        <li>
            when your or someone else’s health or safety are seriously threatened and
            the information will help,
            such as if you are unconscious and paramedics, doctors and nurses need to know if you
            are allergic to any drugs
        </li>
        <li>
            when the information will reduce or prevent a serious threat to public health or safety,
            for example, if you have a serious contagious illness and the public needs to be warned.
        </li>
    </ul>
    <p>There are certain exemptions that may apply in law enforcement situations and in a court of law.

    Health information privacy laws only apply rights to living people. They do not apply once the
    person is deceased.
        </p>
